<header>
    <h1>Feathers Of Poetry</h1>
    <p>The hut and home of poetry</p>
    <nav>
        <a href="index.html">Home</a>
        <a href="terms.html">Terms</a>
        <a href="about.html">About</a>
        <a href="explore.html">Explore</a>
        <a href="community.html">Community</a>
        <a href="help.html">Help</a>
        <input type="text" placeholder="Search...">
        <a href="login.html" class="btn">Login</a>
        <a href="signup.html" class="btn">Register</a>
    </nav>
</header>
